html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
li,
a,
ul,
h2, 
p,
button,
input{
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(252, 246, 223);
}

header {
  border-bottom: solid 1px grey;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 6.7rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: rgb(245, 218, 97);
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 2.7rem;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  margin-bottom: 10px;
  
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 2rem;
}

span {
  font-weight: 600;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.LoadedReviews {
  margin-top: 20px;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 2.7rem;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}
.review {
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: rgb(233, 237, 247) -20px 20px;
  width: 60%;
}

.review {
  background-color:  white;
  padding: 15px;
  box-shadow: rgb(233, 237, 247) -20px 20px;
  margin-bottom: 30px;
}

.userInfo {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

footer {
  margin-top: 0px;
  text-align: center;
}

a {
  color: rgb(99, 99, 99);
  text-decoration: none;
}

/* form styling */

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

input {
  width: 100%;
}

input[type=text],
input[type=date] {
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(233, 237, 247);
    padding: 15px 20px;
    width: 60%;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

textarea {
  border: 1px solid rgb(233, 237, 247);
  height: 120px;
  resize: none;
  width: 60%;
  padding: 30px 0 10px 10px;
  font-size: 1.8rem;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: black; 
}

button {
  margin: 30px 0;
  width: 60%;
  background: rgb(233, 237, 247);
  color: black; 
  border: none;
  padding: 10px 12px 2px 12px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.3rem;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: lowercase;
}
